/* Reset CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Change background colour */
body {
    background-color: #d9dcd6;
}

/* Styles header font, background colour and font colour */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Renders element according to content's width*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes header colour */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styles header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* makes links into a list style*/
.header nav ul {
    list-style-type: none;
}

/* changes links display and margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* colours text*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* font size of the paragraph */
p {
    font-size: 16px;
}

/* styles the title and image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changes where the image is placed */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Changes where the image is placed */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Determines the type of box for the element*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styling the margin, boxes, size, colour and font*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changes the space and colour of these sections */
.benefit-lead, .benefit-brand, .benefit-cost  {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Changes the size and allignment of these headers */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changes where the image is placed and it's size*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changing the placement, size font and colour of this section*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* changing the placement, size font and colour of this section*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* changing the placement, size font and colour of this section*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* changing the height of this image*/
.search-engine-optimization img {
    max-height: 200px;
}

/* changing the height of this image*/
.online-reputation-management img {
    max-height: 200px;
}

/* changing the height of this image*/
.social-media-marketing img {
    max-height: 200px;
}

/* changing the size of header*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changing the size of header*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



/* changing the size of header*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changing the size, font and allignment of footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changing footer font size*/
.footer h2 {
    font-size: 20px;
}
